<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <title>{{ current_group }}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' /> 

  <!--
  Here we are adding the styles that the app needs
  -->
  <link rel="stylesheet" type="text/css" href="../static/js/global/enjoyhint/enjoyhint.css">
  <link rel="stylesheet" type="text/css" href="../static/js/global/keen/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/js/global/keen/keen-dashboards.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/global/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/global/dc.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  <link rel="stylesheet" type="text/css" href="../static/css/vexus2.css">
  <link rel="stylesheet" type="text/css" href="../static/css/global/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui_custom.css">
  <link rel="stylesheet" type="text/css" href="../static/css/sidenav_custom.css">

  <!--
  Here we are adding the libraries that the app needs
  -->
  <script src="../static/js/global/tinycolor.js"></script>
  <script src="../static/js/global/d3.js"></script>
  <script src="../static/js/global/crossfilter.min.js"></script>
  <script src="../static/js/global/dc.min.js"></script>
  <script src="../static/js/global/lasso.min.js"></script>
  <script src="../static/js/global/jquery.min.js"></script>
  <script src="../static/js/global/jquery.dataTables.min.js"></script>
  <script src="../static/js/global/bootstrap.min.js"></script>
  <script src="../static/js/global/keen/holder.js"></script>
  <script src="../static/js/global/keen/keen.min.js"></script>
  <script src="../static/js/global/keen/meta.js"></script>
  <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>
  <script src="../static/js/global/jquery.csv-0.71.min.js"></script>
  <script src="../static/js/global/jquery-ui.min.js"></script>
  <script src="../static/js/global/enjoyhint/enjoyhint.js"></script>  

  <script>
    Holder.add_theme("white", { background: "#fff", foreground: "#a7a7a7", size: 10})
    //Holder.add_theme("dark", {background:"#000", foreground:"#aaa", size:11, font: "Monaco"})
  </script>
</head>
<body class="application">
  
  <!--Start of Navigation bar-->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" >VEXUS 2</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a id="namedb-vexus2"  target="_blank">{{current_group}}</a></li>
          
        </ul>

        <ul class="nav navbar-nav navbar-right" style="color:#FFF">
          <li>
            <input type="text" id="search-input" class="form-control" placeholder="Filter by ..." style="display: none">
          </li>
          <li>
            <div id="data-count"><span class="filter-count" id="num_filtrado"></span> out of </br><strong id="idSelectionTotalStrong"></strong>Users</div>
          </li>
          <li>
            <div class="col-md-1" id="resetall_container">
                <button class="btn resetall">RESET<br />FILTERS</button>
            </div>
          </li>
          <li>
            <div hidden class="col-md-1" id="tasks_div">
              <button class="ui-button ui-widget ui-corner-all" id="tasks_button">
                VIEW<br/>TASKS
              </button>
            </div>
          </li>
          <li>
            <div hidden class="col-md-1" id="help_div">
              <button class="ui-button ui-widget ui-corner-all ui-button-icon-only" title="Help" id="help_button">
                <span class="ui-icon ui-icon-help" ></span>
                HELP
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--End of Navigation bar -->

  <!--Start of main div Body-->
  <div class="container-fluid" id="main_body">

    <div class="row">
      <div class="col-sm-5">
        <div class="chart-wrapper" id="projection_area">
          <div class="chart-title">
           <div class="row">
              <div class="col-sm-4">
                <p id="name-VIZ">dbname VIZ </p>  
              </div>  
              <div class="col-sm-4" style="display: none">
                Dimension
                <select class="select_proj"></select>  
              </div>
              <div class="col-sm-4">
                Colors
                <select class="select_color"></select>  
              </div>
           </div>
          </div>
          <div class="chart-stage" id="tooltip_object1">
              <!--<img data-src="holder.jsk/100%x450/white">-->
            <div class="row" >            
            <div id="areaMainsvg_projection"></div>
            <div class="botones3" style="text-align: center;position:absolute; top:70%; left: 2%">
                
                <div class="switch__container" style="font-size: 10px; width:80px; color: black">
                  Lasso off/on
                  <input id="switch-shadow" class="switch switch--shadow" type="checkbox">
                  <label id="switch-shadow-label" for="switch-shadow"></label>
                </div>
                <div class="btn_3_lassos">
                  <input type="button" class="btn btn-default btn-xs" value="Lasso Reset" id="btn_lassoreset" style="display:none; margin-bottom: 2px; font-size: 10px" />
                  <input type="button" class="btn btn-default btn-xs" value="Select All" id="btn_selectall" style="display:none; margin-bottom: 2px; font-size: 10px" />
                  <input type="button" class="btn btn-default btn-xs" value="Reset All" id="btn_resetall" style="display:block; margin-bottom: 2px; font-size: 10px" />
                </div>
                <br>
                <br>
                <!--<input type="button" class="btn btn-success" value="Explore" id="explore-viz" style="display:block; margin-bottom: 2px" />-->
                
            </div>
          </div>
          <div class="row">
            
            <div class="col-sm-5">
              
            </div>
            <div class="col-sm-4">
              <input type="button" class="btn btn-success" value="Visualize Users" id="explore-viz" style="display:none;" title="Visualize details of users selected" />    
            </div>
            <div class="col-sm-3">
              <div class="totalPoints" style="margin-left: 2%; -webkit-text-stroke-width: 1px">Total Users: </div>
            </div>
            
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-12">
            <div class="chart-wrapper" id = "parentsaveArea">
              <div class="chart-title">
                <div class="row">
                  <div class="col-sm-4">
                    Save Area
                  </div>
                  <div class="col-sm-2">
                    <span class="glyphicon glyphicon-floppy-open" aria-hidden="Left Align" style="float:right; display: none" data-toggle="modal" data-target="#icon_LoadFolderNewGroups"></span>                    
                  </div>
                  <div class="col-sm-2">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="Left Align" style="float:right; display: none" data-toggle="modal" data-target="#icon_SaveFolderNewGroups"></span>
                    <!--<span class="glyphicon glyphicon-floppy-save" id="btn_saveJSON" aria-hidden="Left Align" style="float:right"></span>-->
                  </div>
                  <div class="col-sm-2">
                    <span class="glyphicon glyphicon glyphicon-stats" id="btn_back_Projection" aria-hidden="Left Align" style="float:right; cursor: pointer" title="<- Shown in projection"></span>
                  </div>
                  <div class="col-sm-2">
                    <span class="glyphicon glyphicon glyphicon-trash" id="btn_clearAll" aria-hidden="Left Align" style="float:right; cursor: pointer;" title="remove All ↓"></span>
                  </div>
                </div>
              </div>
              <div class="chart-stage"  overflow-y: scroll"><!--style="height: 426px"-->
                  <!--<img data-src="holder.jsk/100%x450/white">-->
                  <div id="idsavearea_obj1" style="-webkit-inline-box"></div>
              </div>
              <div class="chart-notes">
                <!--<input type="text" name="Title" id="title-save" value="Title" style="width:100%"><br>-->
                <div class="row">
                  <div class="col-sm-12">
                    <div id="num_elements_saveArea" style="color:black"></div>
                  </div>
                </div>
                <br>

                <div id="config_groups">
                <div class="row">
                  <div class="col-sm-12">
                    Max. Groups
                    <input type="number" id="iK_groups" name="quantity" min="2" value="5" style="width: 40px">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    Top Dimensions
                    <input type="number" id="iP_groups" name="quantity" min="1" value="100" style="width: 40px">
                    %
                    <!--<select class="optionSimi">
                      <option>+ Similarity</option>
                      <option>- Similarity</option>
                    </select>-->
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <select class="optionSimi">
                      <option>+ Similarity</option>
                      <option>- Similarity</option>
                    </select>
                  </div>
                </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-5">
                    <input type="button" id="btn_ExploreGroups" class="btn btn-success" value="Explore Groups" title="Click to generate new Groups">
                  </div>
                  <!--<div class="col-sm-2"></div>-->
                  <!--<div class="col-sm-5">
                    Max. Groups
                    <input type="number" id="iK_groups" name="quantity" min="2" value="5" style="width: 50px">
                  </div>-->
                </div>

              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="col-sm-5">
          <div class="chart-wrapper" id="groups_id">
              <div class="chart-title"> Group VIZ </div>
              <div class="chart-stage"><!-- style="height: 475px;"-->
                  <!--<img data-src="holder.jsk/100%x450/white">-->
                  <div id="vizArea_Groups"></div>
              </div>
          </div>
      </div>
    </div>
    
    <div class="row">
    
      <div class="col-sm-8">
        
        <div class="row">
          <div class="col-sm-6">
            <div class="chart-wrapper">
                 <div class="chart-title" id="name_obj2">  </div>
                 <div class="chart-stage">
                     <!--<img data-src="holder.jsk/100%x173/white">-->
                   <div>
                     <input type="text" class="column_filter" id="col0_filter" style="display: none">
                   </div>
                   <div id="dataTable_obj2" class="newchart" style="overflow-x: scroll">
                     <!--Table Object 2-->
                   </div>
                 </div>
               </div>
             </div>

             <div class="col-sm-6">
               <div class="chart-wrapper">
                 <div class="chart-title"> Users Table </div>
                 <div class="chart-stage">
                     <!--<img data-src="holder.jsk/100%x550/white">-->
                     <input type="button" class="btn btn-info" value="Save All" id="Save_All_obj1" style="display: none" title="Save all users of this table" />
                     <input type="button" class="btn btn-warning" value="Save" id="Save_obj1" style="display: none" title="Save users selected of this table" />
                     <div class="row" id="dataTable_obj1">
                         <!--Here is the table Obj1-->
                     </div> 
                 </div>
               </div>
             </div>
           </div>

           <div class="row">
             <div class="col-sm-12">
               <div class="chart-wrapper">
                 <div class="chart-title"> Comparison Matrix</div>
                 <div class="chart-stage" id="charts_comparison">

                <div class="col-sm-12">
                  <div class="row">
                    
                    <div class="col-sm-6">
                      <div class="row" id="originalComparison">
                        <div class="row"><div id="name_block" style="font-weight: bolder; left:34%; position:relative"></div></div>
                        <div id="charts_without_detail">
                           <div class="row"><div id="piechartmio"></div></div>
                           <div class="row"><div id="comparison-matrix"></div></div>
                           <div class="row"><div id="stack_resume_comparison"></div></div>
                        </div>
                        <div class="row"><div id="stack-heatmap"></div></div>

                      </div>  
                    </div>


                    <div class="col-sm-6">
                      <div class="row" id="groupComparison">
                        <div class="row"><div id="name_block" style="font-weight: bolder; left:34%; position:relative"></div></div>
                        <div id="charts_without_detail_compair">
                           <div class="row"><div id="piechartmio"></div></div>
                           <div class="row"><div id="comparison-matrix"></div></div>
                           <div class="row"><div id="stack_resume_comparison"></div></div>
                        </div>
                        <div class="row"><div id="stack-heatmap"></div></div>                      
                      </div>
                    </div>

                  </div>
                </div>



                <!--
                <div class="row">
                    <div class="originalComparison">
                      <div class="row">
                        <div id="comparison-legend"></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-8">
                          <div id="stack_resume_comparison"></div>    
                          <div id="comparison-matrix"></div>
                        </div>
                        <div class="col-sm-4">
                          <div id="piechartmio"></div>
                        </div>
                      </div>
                      <div class="row">
                        <div id="stack-heatmap"></div>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="groupComparison">
                      <div class="row">
                        <div id="comparison-legend"></div>
                      </div>
                      <div class="row">
                        <div class="col-sm-8">
                          <div id="stack_resume_comparison"></div>    
                          <div id="comparison-matrix"></div>
                        </div>
                        <div class="col-sm-4">
                          <div id="piechartmio"></div>
                        </div>
                      </div>
                      <div class="row">
                        <div id="stack-heatmap"></div>
                      </div>
                    </div>
                </div>-->
                <!--<div id="piechartmio"></div>-->
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="row">
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title"> Matriz Rating</div>
              <div class="chart-stage">
                <div id="legend-heatmap"></div>
                <div id="heatmap" class="newchart">
                  <div class="title"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->

      </div>

      <div class="col-sm-4">
         <div id="charts_w_time">
            <div class="row">
               <div class="col-sm-12">
                  <div id="div_graphs_obj1">
                  </div>
               </div>
            </div>

            <div class="row" id="timerow" style="display: none">
               <div class="col-sm-12">
                  <div class="chart-wrapper">
                     <div class="title">Time</div>
                     <div class="chart-stage">
                        <div id="timeChart"></div>
                     </div>
                     <div class="chart-notes"></div>
                  </div>
               </div>
            </div>
         </div>
         <!--
         <div class="col-sm-4" id="div_graphs_obj1">
         -->
         <!--inicio de la part down 3-->      
      </div><!--aqui termina la part down 3-->
    </div>
  </div>

  <div hidden id="dialog-interactive-tour">
    <p>
      <span class="ui-icon ui-icon-circle-check" ></span>
      You will start the interactive guided tour of the Vexus 2.
    </p>
    <p>
      <span class="ui-icon ui-icon-circle-check" ></span>
      This tour take 5 minutes approximalety.
    </p>
    <p>
      <span class="ui-icon ui-icon-circle-check" ></span>
      Push the <b>start</b> button for start the tour.
    </p>
  </div>
  <div hidden id="dialog-start">
    <p>
	   <span class="ui-icon ui-icon-circle-check" ></span>
		You will start the interaction of the Vexus 2.
	 </p>
    <p>
	   <span class="ui-icon ui-icon-circle-check" ></span>
		This interaction take 20 minutes approximalety.
	 </p>
    <p>
	   <span class="ui-icon ui-icon-circle-check" ></span>
		Push the <b>start</b> button for start the interaction.
    </p>
  </div>
  <div hidden id="dialog-end">
    <p>
	   <span class="ui-icon ui-icon-circle-check" ></span>
		You will continue with some questions.
	 </p>
    <p>
	   <span class="ui-icon ui-icon-circle-check" ></span>
		This questions take 5 minutes approximalety.
	 </p>
    <p>
	   <span class="ui-icon ui-icon-circle-check" ></span>
		Push the <b>continue</b> button for start the questions.
    </p>
  </div>
  <div hidden id="dialog-form">
    <iframe id="iframe_form" width="100%" height="99%" frameborder="0" marginheight="0" marginwidth="0" >
      <p>Your browser does not support iframes. Please change your browser and login with your same email for continuing with the questions.</p>
    </iframe>
  </div>
  <div hidden id="dialog-thanks">
    <p>
	   <span class="ui-icon ui-icon-heart" ></span>
		Thanks for your participation.
	 </p>
  </div>

  <div id="sidenav_tasks" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNavTask()">&times;</a>
	 <iframe id="iframe_tasks" width="100%" height="100%" frameborder="1" marginheight="0" marginwidth="0" >
      <p>Your browser does not support iframes. Please change your browser and login with your same email for continuing with the tasks.</p>
	 </iframe>
  </div>

  <!--End of main div Body hasta aqui esta bien-->
  <script src="../static/js/filterBrush.js"></script>
  <script src="../static/js/drawComparisonGroups.js"></script>
  <script src="../static/js/pieChartVis.js"></script>
  <script src="../static/js/stackBarVis.js"></script>
  <script src="../static/js/comparison.js"></script>
  <script src="../static/js/save_Area.js"></script>
  <script src="../static/js/start_VIZ.js"></script>
  <script src="../static/js/projection_viz.js"></script>
  <script src="../static/js/the_events.js"></script>
  <script src="../static/js/draw_charts_obj1.js"></script>
  <script src="../static/js/legend.js"></script>
  <script src="../static/js/draw_groups.js"></script>
  <script src="../static/js/user_interaction.js"></script>

  <!--Start script to change configuration and VIZ-->
  <script>

    d3.select("body").append("div").attr("class", "loader").style("display", "none").style("position", "fixed").style("top", "50%").style("left", "50%")

    function mouse_wait(status){
      d3.select("body").style("cursor", function(){
        if(status)
          return "wait"
        return "default"
      })
    }

    function fn_loading(status){
      d3.select("#main_body")
        .style("opacity", function(){
          if(status)return 0.5
          return 1
        })
      d3.select(".loader")
        .style("display", function(){
          if(status)return "block"
          return "none"
        })
        //.style("top", left+"%")
        //.style("left", top+"%")
        //.style("left", "50%")
    }
	 
	 function closeNavTask() {
      $("#sidenav_tasks").css('width', '0');
      $("#main_body").css('margin-right', '0');
      $("#tasks_button").removeClass('ui-state-active');
	 }

    start()   
  </script>
  <!--End script to change configuration and VIZ-->


  <!--
  My javascript files
  -->
  

</body>
</html>
